.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;
}

main {
    background-color: white;
    width: 310px;
    height: 490px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
    align-self: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.100);
}

img {
    width: 276px;
    border-radius: 10px;
    margin-top: 15px;
}

.text {
    margin: 10px 30px;
    color: hsl(218, 44%, 22%);
}

h1 {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 0.9375rem;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    text-align: center;
}
